In [2]:
#!pip install -U pandasql
from pandasql import sqldf
import os
import json
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import rcParams
import numpy as np
import re

In [3]:
founders_data = pd.read_csv('/Users/chaosefat/TUM/IDP/Visualization/founders_dataset_IDP.csv')

In [16]:
json_directory = '/Users/chaosefat/TUM/IDP/Visualization/all/json/'
i = 0
ocean_personalities = ['openness','conscientiousness','extraversion','agreeableness','neuroticism']
#founders_data[ocean] = 'N/A'
name_list=list();
opennes_list=list()
for ocean in ocean_personalities:
    for json_file_path in os.listdir(json_directory):
        file_peson_name = json_file_path.rstrip(".json")
        file_peson_name = re.sub('([A-Z])', r' \1', file_peson_name)
        file_peson_name = file_peson_name.strip()
        name_list.append(file_peson_name)

        json_file = open(json_directory + json_file_path,
                         'r', encoding='utf-8')
        content = json.load(json_file)

        if "results" in content:

            content2 = content['results'][0]

            if "personality" in content2:

                score = content2['personality'][ocean]
                #opennes_list.append(score)
                founders_data.loc[founders_data['person_name'] == file_peson_name, ocean] = score

            else:
                continue

        else:
            continue

In [17]:
founders_data.head()

,Unnamed: 0,CB_company_uuid,legal_name,domain,city,status,category_groups_list,num_funding_rounds,total_funding_usd,total_funding,...,linkedin_url,twitter_url,facebook_url_exists,linkedin_url_exists,twitter_url_exists,openness,conscientiousness,extraversion,agreeableness,neuroticism
0,10,c2d47d05-9e78-de77-084c-dd5171251ff1,"Asana, Inc.",asana.com,San Francisco,ipo,"Other,Software",13.0,4.532000e+08,4.532000e+08,...,https://www.linkedin.com/in/dmoskov,http://twitter.com/moskov,1,1,1,63.370382,25.464822,37.577109,36.705432,53.540692
1,31,9921555e-1f0c-9404-6e89-24bc1641085b,Xoom Corporation,xoom.com,San Francisco,acquired,"Commerce and Shopping,Financial Services,Payments",7.0,1.043490e+08,1.043490e+08,...,http://www.linkedin.com/in/alanb,http://twitter.com/alanb42,1,1,1,NaN,NaN,NaN,NaN,NaN
2,45,1eb37109-3b93-01a9-177f-fee2cb1bfcdc,Uber Technologies Inc.,uber.com,San Francisco,ipo,"Apps,Mobile,Software,Transportation",33.0,2.521245e+10,2.521245e+10,...,http://www.linkedin.com/in/garrettcamp,https://twitter.com/gc,1,1,1,51.419381,56.900714,58.511746,53.644787,39.680803
3,67,a2e8a0ad-43ff-2039-3784-e53026415bbc,Hatchlearn Inc.,outlearn.com,Boston,closed,"Education,Software",3.0,4.049999e+06,4.049999e+06,...,http://www.linkedin.com/in/wkoffel,http://twitter.com/wkoffel,1,1,1,44.990336,41.616432,46.410309,43.615215,53.623595
4,78,4cb7db7b-0581-3c51-3ff1-8ae84a0a101e,"Barkbox, Inc.",tinyurl.com,New York,ipo,"Commerce and Shopping,Community and Lifestyle,...",6.0,2.817250e+08,2.817250e+08,...,http://www.linkedin.com/in/werdelin,http://twitter.com/werdelin,0,1,1,NaN,NaN,NaN,NaN,NaN

In [18]:
founders_data.to_csv('combined_founders_data.csv')

In [20]:
founders_data.columns

Index(['Unnamed: 0', 'CB_company_uuid', 'legal_name', 'domain', 'city',
       'status', 'category_groups_list', 'num_funding_rounds',
       'total_funding_usd', 'total_funding', 'founded_on', 'last_funding_on',
       'employee_count', 'raised_amount_usd', 'acquiree_name', 'acquirer_name',
       'acquired_on', 'went_public_on', 'valuation_price_usd',
       'valuation_price', 'money_raised_usd', 'money_raised', 'CB_people_uuid',
       'person_name', 'started_on', 'ended_on', 'is_current', 'title',
       'job_type', 'first_name', 'last_name', 'gender', 'facebook_url',
       'linkedin_url', 'twitter_url', 'facebook_url_exists',
       'linkedin_url_exists', 'twitter_url_exists', 'openness',
       'conscientiousness', 'extraversion', 'agreeableness', 'neuroticism'],
      dtype='object')

In [22]:
len(founders_data)

6130