In [3]:
import os
import json
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import rcParams
import numpy as np
import re
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler

In [4]:
data = pd.read_csv('merged_dataframe.csv')

In [5]:
data.head()

,Unnamed: 0,CB_company_uuid,legal_name,domain,city,status,category_groups_list,num_funding_rounds,total_funding_usd,total_funding,...,linkedin_url,twitter_url,facebook_url_exists,linkedin_url_exists,twitter_url_exists,openness,conscientiousness,extraversion,agreeableness,neuroticism
0,10,c2d47d05-9e78-de77-084c-dd5171251ff1,"Asana, Inc.",asana.com,San Francisco,ipo,"Other,Software",13.0,4.532000e+08,4.532000e+08,...,https://www.linkedin.com/in/dmoskov,http://twitter.com/moskov,1,1,1,63.370382,25.464822,37.577109,36.705432,53.540692
1,31,9921555e-1f0c-9404-6e89-24bc1641085b,Xoom Corporation,xoom.com,San Francisco,acquired,"Commerce and Shopping,Financial Services,Payments",7.0,1.043490e+08,1.043490e+08,...,http://www.linkedin.com/in/alanb,http://twitter.com/alanb42,1,1,1,37.613179,55.368255,57.353612,60.636094,33.727562
2,45,1eb37109-3b93-01a9-177f-fee2cb1bfcdc,Uber Technologies Inc.,uber.com,San Francisco,ipo,"Apps,Mobile,Software,Transportation",33.0,2.521245e+10,2.521245e+10,...,http://www.linkedin.com/in/garrettcamp,https://twitter.com/gc,1,1,1,51.419381,56.900714,58.511746,53.644787,39.680803
3,67,a2e8a0ad-43ff-2039-3784-e53026415bbc,Hatchlearn Inc.,outlearn.com,Boston,closed,"Education,Software",3.0,4.049999e+06,4.049999e+06,...,http://www.linkedin.com/in/wkoffel,http://twitter.com/wkoffel,1,1,1,44.990336,41.616432,46.410309,43.615215,53.623595
4,78,4cb7db7b-0581-3c51-3ff1-8ae84a0a101e,"Barkbox, Inc.",tinyurl.com,New York,ipo,"Commerce and Shopping,Community and Lifestyle,...",6.0,2.817250e+08,2.817250e+08,...,http://www.linkedin.com/in/werdelin,http://twitter.com/werdelin,0,1,1,61.438531,45.906696,55.835480,56.377701,37.711411

In [8]:
data_cols_1 = ["legal_name","total_funding_usd","openness","conscientiousness","extraversion","agreeableness","neuroticism"]

In [28]:
ocean = ["openness","conscientiousness","extraversion","agreeableness","neuroticism"]

In [9]:
data1 = data[data_cols_1]

### Bottom and Top 10% analysis

In [19]:
means_by_company = data1.groupby('legal_name').mean()

In [22]:
means_by_company.dropna(how='any',inplace=True)

In [23]:
means_by_company.head()

,total_funding_usd,openness,conscientiousness,extraversion,agreeableness,neuroticism
legal_name,,,,,,
"101 Edu, Inc.",6.874156e+06,51.142607,63.812120,74.244618,62.429866,25.550338
"10X Genomics, Inc.",2.426000e+08,60.558633,47.150512,53.385385,52.991679,27.781925
"11Sight, Inc.",2.300000e+06,63.483742,59.397327,71.308732,55.407733,23.553225
1eq Inc.,3.976045e+07,59.795681,52.765865,64.933493,67.578291,32.389326
"23andMe, Inc.",1.118574e+09,53.071676,61.221187,66.669331,60.183432,35.655991

In [25]:
percentile_10_funding = means_by_company['total_funding_usd'].quantile(0.10)

In [27]:
percentile_10_funding_df = means_by_company[means_by_company['total_funding_usd'] <= percentile_10_funding]

In [29]:
percentile_10_ocean = percentile_10_funding_df[ocean].mean()

In [30]:
percentile_10_ocean

openness             48.539645
conscientiousness    52.656781
extraversion         60.548906
agreeableness        55.410650
neuroticism          35.564744
dtype: float64

In [31]:
percentile_90_funding = means_by_company['total_funding_usd'].quantile(0.90)
percentile_90_funding_df = means_by_company[means_by_company['total_funding_usd'] <= percentile_90_funding]
percentile_90_ocean = percentile_90_funding_df[ocean].mean()

In [32]:
percentile_90_ocean

openness             49.278449
conscientiousness    52.228339
extraversion         59.604094
agreeableness        53.804185
neuroticism          37.424757
dtype: float64

### Min and Max value Analysis

In [37]:
min_openness_index = means_by_company['openness'].idxmin()
min_openness_funding = means_by_company.loc[min_openness_index, 'total_funding_usd']

In [38]:
min_openness_funding

104825000.0

In [39]:
max_openness_index = means_by_company['openness'].idxmax()
max_openness_funding = means_by_company.loc[max_openness_index, 'total_funding_usd']

In [40]:
max_openness_funding

20000000.0

SyntaxError: invalid syntax (<ipython-input-1-46cbd787b5a9>, line 1)